#paytm-pg-spinner {
    width: 120px;
    text-align: center;
    z-index: 999999;
    position: fixed;
    top: 25%;
    left: 50%;
}

#paytm-pg-spinner>div {
    width: 10px;
    height: 10px;
    background-color: #012b71;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

#paytm-pg-spinner .bounce1 {
    -webkit-animation-delay: -0.64s;
    animation-delay: -0.64s;
}

#paytm-pg-spinner .bounce2 {
    -webkit-animation-delay: -0.48s;
    animation-delay: -0.48s;
}

#paytm-pg-spinner .bounce3 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

#paytm-pg-spinner .bounce4 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

#paytm-pg-spinner .bounce4,
#paytm-pg-spinner .bounce5 {
    background-color: #48baf5;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.paytm-overlay {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: .3;
    height: 100%;
    background: #000;
    z-index: 9999;
}

.paytm-woopg-loader p {
    font-size: 15px !important;
    color:#ffffff;
}

.paytm-woopg-loader a {
    font-size: 15px !important;
}

.refresh-payment {
    display: inline;
    margin-right: 20px;
    width: 100px;
    background: rgb(0, 185, 245);
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}
.paytm-action-btn{display: none;padding: 25px;}

/*.wc_payment_method label img {max-width: 100% !important;width: 350px !important;}
*/
label[for=payment_method_paytm] img
{
    max-width: 350px !important;
    width: 100%;
    display: block !important;
    visibility: visible;
}
label[for=payment_method_paytm]{
    visibility: visible;
}
label[for=payment_method_paytm]::before{
    visibility: visible;
}
